.profile {
  width: 800px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  font-family: Arial, Helvetica, sans-serif;

  input {
    height: 35px;
    width: 200px;
    background-color: $lblue;

    border-radius: 25px;
    border: none;
    padding-left: 20px;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;

    text-align: center;
    width: 450px;
    border-bottom: 3px solid $egg;
    margin-bottom: 30px;
    .title {
      height: 200px;
      width: 200px;
      border-radius: 300px;

      display: flex;
      align-items: center;
      justify-content: space-evenly;

      background-color: $red;
      border: 10px solid $lblue;

      margin-bottom: 30px;
      h1 {
        text-transform: uppercase;
      }
    }

    .id {
      margin: 20px 0;
      //   background-color: red;
      width: 400px;
      text-align: left;

      display: flex;
      align-items: center;
      justify-content: space-evenly;
      h4 {
        margin: 0;
      }
      #idContainer {
        color: $lblue;
      }
    }
    .username {
      margin-bottom: 20px;
    }
  }
  .userForm {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    flex-direction: column;
    .half {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .row {
      width: 600px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      #userEmail {
        background-color: $navy;
        color: $lblue;
      }
      .full {
        width: 400px;
      }
      button {
        width: 70px;
        height: 40px;
        border: none;
        background-color: $red;
        color: $egg;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: 0 5px 5px rgba(61, 60, 60, 0.459);
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .profile {
    width: 100%;
    .userForm {
      .row {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        .full {
          width: 100%;
        }
      }
    }
  }
}
@media only screen and (max-width: 450px) {
  .profile {
    .top {
      width: 100%;
    }
  }
}
