#content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.item {
  margin: 20px;
  background-color: aquamarine;
  width: 220px;
  padding: 10px;
}
.item:nth-child(odd) {
  background-color: bisque;
}
