.nav {
  width: 80%;
  height: 60px;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: #3e92cc;
  background-color: #acfcd9;
  border-radius: 25px;
  &--button {
    border-radius: 5px;
    padding: 10px;
    color: #3e92cc;
    background-color: #acfcd9;
    border: 3px solid #3e92cc;
  }
  h1 {
    margin-bottom: 0;
  }
  div {
    width: 80px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
  }
}
