nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-height: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #054a91;

  font-family: sans-serif;
  color: #fff;
  h1 {
    font-size: 40px;
    margin: 0;
  }
  .links {
    margin: 10px 0;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    a {
      font-size: 20px;
      text-decoration: none;
      color: white;
    }
  }
  .buttons {
    button {
      border: 2px solid white;
      border-radius: 5px;
      width: 80px;
      height: 30px;

      color: white;
      background-color: #054a91;
    }
  }
}
